---
import Layout from '../layouts/Layout.astro';

// Check if user is authenticated
if (Astro.locals.session) {
  return Astro.redirect("/dashboard");
} else {
  return Astro.redirect("/login");
}
---

<Layout title="Vorten Dashboard">
  <main>
    <p>Redirigiendo...</p>
  </main>
</Layout>
